@using AnimalsCare.ViewModels
@model BlogDetailsViewModel
<section class="hero-wrap hero-wrap-2" style="background-image: url('https://techmeetups.com/wp-content/uploads/2019/06/blogging-SMB.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <p>
                    <img src="@this.Model.ImageUrl" alt="" class="img-fluid">
                </p>
                <h2 class="mb-3">@this.Model.Title</h2>
                <p>@this.Model.Description</p>


                <div class="about-author d-flex p-4 bg-light">

                    <div class="desc">
                        <h3> Author: @this.Model.CreatorUsername</h3>
                        <p>@this.Model.CreatedOnToString</p>
                    </div>
                </div>


                <div class="pt-5 mt-5">
                    <h3 class="mb-5">@this.Model.CommentsCount Comments</h3>
                    <ul class="comment-list">
                        @foreach (var comment in this.Model.Comments)
                        {
                            <li class="comment">
                                <div class="comment-body">
                                    <h3>@comment.UserUsername</h3>
                                    <div class="meta">@comment.CreatedOnToString</div>
                                    <p>@comment.Message</p>
                                </div>
                            </li>
                        }
                    </ul>


                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5 col-md-5 ">Leave a comment</h3>
                        <form asp-controller="Comment" asp-action="Add" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                                <input type="hidden" name="id" value="@this.Model.Id" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>

                        </form>
                    </div>
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">

                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Services</h3>
                        <li><a asp-controller="Services" asp-action="DogWalking">Dog Walking <span class="fa fa-chevron-right"></span></a></li>
                        <li><a asp-controller="Services" asp-action="PetDaycare">Pet Daycare <span class="fa fa-chevron-right"></span></a></li>
                        <li><a asp-controller="Services" asp-action="PetGrooming">Pet Grooming <span class="fa fa-chevron-right"></span></a></li>
                    </div>
                </div>

                                
                <vc:last-blogs></vc:last-blogs>


                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a asp-controller="Home" asp-action="Index" class="tag-cloud-link">Home</a>
                        <a asp-controller="Pricing" asp-action="Prices" class="tag-cloud-link">Pricing</a>
                        <a asp-controller="Home" asp-action="About" class="tag-cloud-link">About</a>
                        <a asp-controller="Blogs" asp-action="MyBlog" class="tag-cloud-link">My Blog</a>
                    </div>
                </div>

                
            </div>

        </div>
    </div>
</section> 